body{
    font-family: Arial, sans-serif;
    background:#f2f6ff;
    margin:0;
    padding:30px;
}

form{
    max-width:500px;
    margin:auto;
    background:#fff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    color:#0056b3;
}

label{
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

input[type="submit"]{
    background:#0056b3;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

input[type="submit"]:hover{
    background:#003d80;
}